<div class="user-details">
  <h1>About Me</h1>
  <p>
    I am a hard working individual who is always ready to learn. What motivates me the most is my curiosity.
    This allows me to grasp concepts very easily, especially when it comes to technology.
    I am thrilled to use my technical and marketing background to help a company excel. With great skills in
    software development, troubleshooting & debugging, I thrive in collaborative settings the most.
    I am currently most interested in learning more about the art of Human-Computer Interaction and Artificial
    Intelligence (including CV and natural language processing).

    <br><br>

    On my down time I like riding my bike, flying drones, driving my car and trying new foods.
  </p>

</div>
  <div class="user">
    <div class="tech">
      <h2>Software</h2>
      <i class="devicon-cplusplus-plain colored"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark colored"></i>
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <p>
        Aside from being highly skilled in object-oriented languages such as C++, Python, Javascript,
        I am also proficient in various Linux (i.e. Debian, Ubuntu, Jessie, CentOS), Bash shell &
        familiar with development on single-board computers such as the Raspberry Pi and ASUS Tinkerboard family lines.
        Additionally, I am very comfortable with installing computer hardware such as HDDs, SSDs, RAM & peripherals.
        <br>
        <br>
        I love working with Linux.
      </p>
    </div>
    <div class="tech">
      <h2>Graphic Design</h2>
      <img src="{{ "/assets/img/pslarge.png" | prepend: site.baseurl }}" style="height: 75px">
      <img src="{{ "/assets/img/ailarge.png" | prepend: site.baseurl }}" style="height: 75px">
      <img src="{{ "/assets/img/prlarge.png" | prepend: site.baseurl }}" style="height: 75px">
      <img src="{{ "/assets/img/idlarge.png" | prepend: site.baseurl }}" style="height: 75px">
      <p>
        I have a keen eye for aesthetics, a creative mind and years of professional graphic design experience below my belt.
        I have developed, conceptualized, and implemented creative solutions and then lead a team that met marketing strategies for 4 years with UC Riverside.
      </p>
    </div>
    <div class="tech">
      <h2>Reach Out</h2>
      <p>Shoot me an email at ericegonz.se@gmail.com, or feel free to reach out to me on <a href="http://linkedin.com/in/ericegonz">LinkedIn</a>.</p>
    </div>
</div>