<div id="particles-js">
  <div class="header">
      <h1>
          <img src="/assets/img/myFace.png" style="height: 290px">
          <span class="site-title">eric gonzalez</span>
          <span class="site-description">software engineer.</span>
          <span class="site-description">graphic designer.</span>
          <span class="site-description">creative.</span>
      </h1>
      <div class="header-links">
          <a class="link" href="#about" data-scroll>about</a>
          <a class="link" href="#projects" data-scroll>experience</a>
          <a class="link" href="#mailto:ericg@viatouchmedia.com" data-scroll>contact</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
