<div class="user-details">
    <h1> My Experience </h1>
</div>

<div id="experience-timeline">
    <div data-date="Jan 2017 - Present">
        <h3>ViaTouch Media</h3>
        <h4>Software Engineer</h4>
        <h5>San Diego, CA</h5>
        <p>
            I work directly under the Director of Engineering and Director of Software to assist with the analysis,
            design, development, testing and documentation of new and existing software solutions. This includes
            developing new software, making improvements on existing software, and configuring software development
            tools as required by the company.
            <br><br>
            I rebuilt a front-end single page app (HTML5) & JavaScript (AngularJS/Node.js) libraries
            to work with the modern automated retail machine, VICKI (getvicki.com).
            <br><br>
            Also interfaced with Natural Language Recognition services by piping audio to various cloud-based REST APIs
            using Node.js and Python to create an intelligent bandwidth-friendly assistant who can answer a variety of
            questions about retail products (i.e. caffeine content, calories).
            <br><br>
            Continued support for RugDoctor's Walmart kiosks
        </p>
    </div>

    <div data-date="Jan 2017 - Sept 2017<br>8 Months">
        <h3>Accelerated Retail Technologies</h3>
        <h4>Software Development Engineering Intern</h4>
        <h5>Corona, CA</h5>
        <p>
            My team and I implemented & deployed major front-end software patch for ~3,800 RugDoctor Walmart kiosks
            running Windows in Canada and the US. This update allowed for download of dynamic data from RugDoctor’s SOAP web
            services. Support for insertion of text, prices, images & videos of products on front interface.
            <br><br>
            Worked with local SQL databases on kiosks to store & retrieve data required for transactions, products,
            pricing, etc.
            <br><br>
            Lastly, developed & reviewed User Acceptance Tests and executed regression tests relating to them.
        </p>
    </div>

    <!--<div data-date="Jan 2017 - Sept 2017<br>8 Months">-->
        <!--<h3>ViaTouch Media</h3>-->
        <!--<h4>Software Engineering Intern</h4>-->
        <!--<h5>Corona, CA</h5>-->
        <!--<p>-->
            <!--I rebuilt a front-end single page GUI app (HTML5) & JavaScript (AngularJS/Node.js) libraries-->
            <!--to work with the modern automated retail machine, VICKI (getvicki.com).-->
            <!--<br><br>-->
            <!--Also interfaced with Natural Language Recognition services by piping audio to various cloud-based REST APIs-->
            <!--using Node.js and Python to create an intelligent bandwidth-friendly assistant who can answer a variety of-->
            <!--questions about retail products (i.e. caffeine content, calories).-->
        <!--</p>-->
    <!--</div>-->

    <div data-date="Mar 2016 - Jan 2017<br>11 mos">
        <h3>University of California, Riverside</h3>
        <h4>Media Development Supervisor</h4>
        <h5>Riverside, CA</h5>
        <p>
            I was responsible for conceptualization and implementation of creative solutions that meet UCR Recreation
            department marketing strategies. This involved overseeing projects from concept to completion in either
            design, videography, social media, or engagement.
            <br><br>
            I played a lead role in performance evaluation assessments, organizing training sessions and the selection
            process of prospective employees.
            <br><br>
            Additionally, I continued performing my duties as a graphic designer.
        </p>
    </div>
    <div data-date="Jan 2014 - Mar 2016<br>2 yrs 3 mos">
        <h3>University of California, Riverside</h3>
        <h4>Graphic Designer</h4>
        <h5>Riverside, CA</h5>
        <p>
            I planned and executed graphic design projects in a timely manner in order to market the services the UCR
            Recreation department offers to UCR students. This includes but is not limited to generating graphic media
            and the management of social media campaigns.
            <br><br>
            This position also required me to present the services the Recreation department offers to international
            students, members of the community and prospective students alike.
        </p>
    </div>
    <div data-date="Sept 2013 - Dec 2017">
        <h3>University of California, Riverside</h3>
        <h4>B.S. Computer Science with Business Applications</h4>
        <h5>Riverside, CA</h5>
        <p>
            The Computer Science with Business Applications degree covers the core of Computer Science along with
            basic business and management topics. This degree prepares students for careers in management of computer
            and information systems, system administration, and e-commerce. This degree is a perfect fit for individuals
            looking for a technical degree with a business edge, such as for entrepreneurs considering starting a
            high-tech company.
        </p>
    </div>
</div>

