<div class="user-details">
    <h1> My Experience </h1>
    <a href="{{ "/assets/pdf/resume_redacted.pdf" | prepend: site.baseurl }}">Download my resume here.</a>
</div>

<div id="experience-timeline">
    <div data-date="Apr 2017 - Present">
        <h3>Software Engineer</h3>
        <h4>ViaTouch Media</h4>
        <h5>San Diego, CA</h5>
        <p>• Worked directly under the Director of Software Development in a fast-paced start-up environment that allowed me to wear many hats and experience new opportunities.</p><br>
        <p>• Created, monitored, and deployed servers, storage buckets, and databases on AWS EC2, S3 and RDS instances.</p><br>
        <p>• Implemented multiple front-end software updates for ~3,800 RugDoctor (RD) Walmart kiosks running Windows. Updates allowed for download and placement of text, prices, images & videos of products on interface from RD WS.</p><br>
        <p>• Deployed patches to hundreds of RD kiosks per week, met aggressive deadlines in order to maintain good relationship with RD and Walmart. Always kept good communication with RD kiosk team.</p><br>
        <p>• Developed User Acceptance Tests, executed and documented testing in an orderly and easy to understand fashion.</p><br>
        <p>• Familiar with Linux TTY communication such as creating/loading udev rules and monitoring them.</p><br>
        <p>• Rebuilt front-end GUI using HTML5 and AngularJS for retail machine (VICKI). GUI is currently deployed in the field.</p><br>
        <p>• Modified legacy JavaScript libraries (AngularJS/Node) to work with VICKI. Code is currently deployed in the field.</p><br>
        <p>• Modified, maintained and created SQL databases to store details required for transactions, products, pricing, etc.</p><br>
        <p>• Used open source libraries (i.e. Bleno) to interface with Linux BLE peripherals, establishing communication between iOS/Android application and server.</p><br>
        <p>• Performed networking tasks like setting static IP addresses, analyzing traffic on WireShark and designing topographies.</p><br>
        <p>• Designed and deployed various Linux services utilizing init.d and Supervisor process control system on Linux.</p><br>
        <p>• Designed protocol running off of RabbitMQ on AMQP to communicate with devices in the same subnet in order to execute commands on one device, report back and work seamlessly as one.</p><br>
        <p>• Interfaced with various Artificial Intelligence REST APIs (IBM Watson, Google Cloud, Amazon Polly) using Node and Python to create an intelligent assistant. Made modifications to existing APIs to tailor to our use case.</p><br>
        <p>• Exposed to and in the process of learning .NET Core framework in C#/C++ to connect and communicate with peripherals (i.e. biometrics scanners, payment readers, IOT hardware) with focus on cross-platform execution.</p><br>
    </div>

    <div data-date="Jan 2017 - Apr 2017<br>4 Months">
        <h3>Software Development Engineering Intern</h3>
        <h4>Accelerated Retail Technologies</h4>
        <h5>Corona, CA</h5>
        <p>• Provided technical support, troubleshooted network and software issues on touch screen vending machines. </p><br>
        <p>• Flashed hardware to provide to customers facing issues with software.</p><br>
    </div>

    <div data-date="Mar 2016 - Jan 2017<br>11 mos">
        <h3>Media Development Supervisor</h3>
        <h4>University of California, Riverside</h4>
        <h5>Riverside, CA</h5>
        <p>• Responsible for conceptualization and implementation of creative solutions that meet UCR Recreation department marketing strategies. This involved overseeing projects from concept to completion in either design, videography, social media, or engagement.</p><br>
        <p>• Played a lead role in performance evaluation assessments, organizing training sessions and the selection process of prospective employees.</p><br>
        <p>• Additionally, I continued my duties as a graphic designer.</p><br>
    </div>
    <div data-date="Jan 2014 - Mar 2016<br>2 yrs 3 mos">
        <h3>Graphic Designer</h3>
        <h4>University of California, Riverside</h4>
        <h5>Riverside, CA</h5>
        <p>• Planned and executed graphic design projects in a timely manner in order to market the services the UCR Recreation department offers to UCR students. This includes but is not limited to generating graphic media and the management of social media campaigns.</p><br>
        <p>• Presented the services the Recreation department offers to international students, members of the community and prospective students alike.</p><br>
    </div>
    <div data-date="December 2017">
        <h3>B.S. Computer Science</h3>
        <h4>University of California, Riverside</h4>
        <h5>Riverside, CA</h5>
        <p>
            The Computer Science with Business Applications degree covers the core of Computer Science along with
            basic business and management topics. This degree prepares students for careers in management of computer
            and information systems, system administration, and e-commerce. This degree is a perfect fit for individuals
            looking for a technical degree with a business edge, such as for entrepreneurs considering starting a
            high-tech company.
        </p>
    </div>
</div>

